.skills-section {
    border: solid red 1px;
    margin: 10px;
    padding-bottom: 10px;
}
.skills-group {
    border: solid red 1px;
}
.skill-desc {
    border: solid red 1px;
    padding: 10px;
}
.ux-skill {
    background-color: rgb(231, 231, 231);
    border: solid black 1px;
    text-align: center;
    width: 33%;
}
.flexContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.work-section {
    border: solid red 1px;
}
.project-overview {
    border: solid red 1px;
}
.project-img-01 {
    border: solid red 1px;
    grid-area: projectImg01;
}
.project-desc-01{
    border: solid red 1px;
    grid-area: projectDesc01;
}
.project-img-02 {
    border: solid red 1px;
    grid-area: projectImg02;
}
.project-desc-02 {
    border: solid red 1px;
    grid-area: projectDesc02;
}
.project-img-03 {
    border: solid red 1px;
    grid-area: projectImg03;
}
.project-desc-03 {
    border: solid red 1px;
    grid-area: projectDesc03;
}
.workGrid {
    display: grid;
    grid-template-areas: 
    'projectImg01 projectDesc01'
    'projectImg02 projectDesc02'
    'projectImg02 projectDesc03'
}
h1 {
    border: solid red 1px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
h3 {
    border: solid red 1px;
    padding: 10px;
    margin: 10px;
}
h4 {
    border: solid red 1px;
    margin: 10px;
}
p {
    border: solid red 1px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
}
.ux-img img {
    border: solid red 1px;
    padding: 10px;
    margin: 10px;
}
@media only screen and (max-width: 600){
    .ux-skill {
        width: 100%;
    }
    .flexContainer {
        flex-direction: column;
    }
}